body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(200, 150, 0, 0.5)), url('https://upload.wikimedia.org/wikipedia/commons/0/07/Old_College%2C_University_of_Edinburgh_%2824923171570%29.jpg');
  background-size: cover;
  background-blend-mode: overlay;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

h1 {
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px #000000;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
}

h2 {
  font-size: 35px;
  color: white;
  text-shadow: 2px 2px #000000;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
}

h3 {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px #000000;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
}

a {
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
}

.topnav {
  text-align: center;
  overflow: hidden;
  background-color: #222;
  border-radius: 15px;
  padding: 10px;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  border-radius: 15px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  transition: ease-in 0.15s;
  text-align: center;
}

.topnav a.active {
  background-color: #5DADE2;
  color: white;
  text-align: center;
}

.spsbuttons {
  margin: 10px;
  padding: 20px 26px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  background-size: 200% auto;
  color: black;
  border-radius: 10px;
}

.spsbuttons:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  width: 40%;
  background: #ffffff;
  border-radius: 10px;
  min-width: 450px;
  min-height: 100px;
  margin: 10px auto;
  padding: 20px;
  box-sizing: border-box;
}

#newtask {
  position: relative;
  padding: 30px 20px;
}

#newtask input {
  width: 75%;
  height: 45px;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
}

#newtask input:focus {
  outline: none;
  border-color: #0d75ec;
}

#newtask button {
  position: relative;
  float: right;
  font-weight: 500;
  font-size: 16px;
  background-color: #0d75ec;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

#tasks {
  border-radius: 10px;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  padding: 30px 20px;
  margin-top: 10px;
}

.task {
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #939697;
  cursor: pointer;
  background-color: #c5e1e6;
  height: 50px;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
}

.task span {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.task button {
  background-color: #c5c8d3;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  height: 100%;
  width: 40px;
  border-radius: 5px;
}

#short-timer {
	  font-size: 35px;
	  color: white;
	  text-shadow: 2px 2px #000000;
	  text-align: center;
	  font-family: 'Trebuchet MS', sans-serif;
	
}